body{
    background:#f5f7fb;
}

.card{
    border:none;
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

form label{
    font-weight:600;
}

.form-control,
.form-select{
    border-radius:10px;
}

button{
    border-radius:10px !important;
}

.alert{
    border-radius:10px;
}

.table{
    margin-top:20px;
}

img{
    border-radius:10px;
}